<!doctype html>
<html class="no-js" lang="en">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128880670-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-128880670-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Volusia County IDPA {% if page.title %} - {{ page.title }}{% endif %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/et-line-icon.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/89635749a1174955d6ae3acf7/6de6b1643971351fb08b9bec0.js");</script>

</head>
<body>

<!-- Header Area Start -->
<header class="top">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">

                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="header-top-right text-right">
                        <ul class="header-reset">
                            <li><a href="newsletter.html">Email Signup</a></li>
                            <li><a href="https://practiscore.com/clubs/volusia_county_idpa">Practiscore</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-area two header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="logo">
                        <a href="index.html"><img src="img/logo/volusia-county-idpa-logo.png" alt="eduhome" /></a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-6">
                    <div class="content-wrapper text-right">
                        <!-- Main Menu Start -->
                        <div class="main-menu">
                            <nav>
                                <ul>

                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="results.html">Match Results</a></li>
                                    <li><a href="about.html">About</a></li>

                                    <li><a href="location.html">Location</a></li>

                                </ul>
                            </nav>
                        </div>

                        <!-- Main Menu End -->
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="mobile-menu hidden-lg hidden-md hidden-sm"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->
<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->


<div class="about-area pt-5 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="about-content">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer Start -->
<footer class="footer-area">
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-widget pr-60">
                        <div class="footer-logo pb-25">
                            <a href="index.html"><img src="img/logo/volusia-county-idpa-logo.png" style="width: 150px;"></a>
                        </div>
                        <p>Get the latest updates about IDPA at the Volusia County Gun and Hunt Club from the <a class="text" href="https://www.facebook.com/groups/187728855471853/">Volusia County IDPA Facebook Group</a>.</p>
                        <div class="footer-social">
                            <ul>
                                <li><a href="https://www.facebook.com/groups/187728855471853/"><i class="zmdi zmdi-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>information</h3>
                        <ul class="footer-reset">
                            <li><a href="/getting-started-idpa.html">Getting Started in IDPA</a></li>
                            <li><a href="/about.html">About the Match</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>useful links</h3>
                        <ul class="footer-reset">
                            <li><a href="https://www.idpa.com/">IDPA Website</a></li>
                            <li><a href="https://www.volusiacountygunclub.com/">Volusia County Gun &amp; Hunt Club</a></li>
                            <li><a href="https://www.idpa.com/wp-content/themes/idpa/assets/match-files/2017_Rule_Book.pdf">IDPA Rulebook</a></li>
                            <li><a href="https://www.idpa.com/wp-content/uploads/2018/09/IDPA_5x5_Classifier.pdf">IDPA 5x5 Classifier Details</a></li>
                            <li><a href="https://practiscore.com/clubs/volusia_county_idpa">Practiscore</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>get in touch</h3>
                        <p><b>Match Director:</b></p>
                        <p>Jason Quick<br />
                            jason@volusiacountyidpa.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->

<script src="js/vendor/jquery-1.12.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
